html{
    font-size: 20px;
}

body{
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
}

h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
    letter-spacing: 48px;
    text-shadow: 1px 1px 2px gray;
    border-bottom: solid 3px rgb(115, 115, 114);
}

h2, p{
    font-size: 20px;
}

.M{
    color: skyblue;
}

.P{
    color: rgb(255, 192, 203);
}

#parent p {
    font-weight: bold;
}